.site-header{
  background-color: #fff198;
  width: 100%;
  position: relative
}
main{
  background-color: #ffff;
}
.icon-menu li{
  width: 100%;
  display: block;
  padding: 10px; 
}
section{
  max-width: 90%;
  margin: auto;
  display: block;
}

.byline, .byline a, .byline address, .byline time{
  color: darkgray;
  display: inline;
  text-decoration: none;
}